@font-face {
    font-family: OpenSans-Regular;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 1.46;
    margin: 0;
}

.header {
    position: relative;
    padding-top: 28px;
    padding-bottom: 145px;
    margin: auto;
}

.header:after {
    content:"";
    position: absolute;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.6;
    z-index: 0;
}

.trend {
    margin: 0 auto;
}

.trend__title {
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.trend__text hr {
    margin-top: 10px;
    margin-bottom: 28px
}

.trend__photos {
    display: flex;
    margin-bottom: 64px;
    column-gap: 4px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    width: calc(25% - 4px);
    position: relative;
    padding: 9% 20px 20px;
    background-color: #000000;
    align-items: flex-end;
    z-index: 0;
}

.card__trends-flower {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card__trends-cheese {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card__trends-mountain {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card__trends-lemon {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card::before {
    content: "";
    position: absolute;
    background-color: #000000;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.card__picture {
    width: 100%;
    padding: 40px 40px 35px 25px;
    border: solid 3px rgba(181, 159, 91, 0.6);
}

.card__list {
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    color: #b59f5b;
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 14px;
    bottom: 110px;
    left: 56px;
}

.card__title {
    left: 55px;
    bottom: 56px;
    max-width: 236px;
}

.card__list--item a {
    color: inherit;
}

.card__title a {
    text-transform: uppercase;
    font-family: OpenSans-Bold, sans-serif;
    max-width: 500px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
}

.card__title a:hover {
    color: #b59f5b;
}

.card__border {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 55px 25px 52px 5px;
    /*margin-bottom: 16px;*/
    /*margin-left: 18px;*/
}

.card__category {
    padding: 40px 40px 35px 25px;
    border: 3px solid #7a6b40;
}

.container {
    margin: 0 auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.step img {
    background-color: #eff6f1;
}

.logo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 179px;
}

.list {
    margin: 0;
    display: flex;
    list-style-type: none;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0;
    font-family: OpenSans-Regular, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

li:hover {
    text-decoration: underline;
}

.header li:nth-child(n + 2) {
    margin-left: 35px;
}

.header ul {
    display: flex;
    margin-left: 526px;
}

.header_title {
    text-align: center;
    margin-top: 114px;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display: block;
}

.header_text {
    font-family: OpenSans-Bold, sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 45px;
    line-height: 68px;
    font-weight: 700;
}

.header_text:last-child {
    margin-bottom: 35px;
}

.midl {
    margin-top: 60px;
}

.right {
    display: flex;
    justify-content: space-between;
}

.photo_text {
    width: 780px;
}

.creators_title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.shop__item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 45px);
}

.shop__img {
    margin: 0 auto;
}

.shop__item-border {
    margin-top: -30px;
    border: solid 3px rgba(181, 159, 91, 0.6);
    padding: 40px 20px 25px 20px;
    flex-grow: 1;
}

.shop__title {
    text-transform: uppercase;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.shop__button {
    float: right;
    max-width: 140px;
}

.shop__price {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: OpenSans-Bold, sans-serif;
    font-size: 20px;
}

.shop__price:nth-of-type(1) {
    font-size: 14px;
    text-decoration: line-through;
}

.shop__text {
    margin-bottom: 20px;
}

.shop__text a {
    color: #b59f5b;
}

.step {
    display: flex;
}

.step img {
    margin-bottom: 60px;
    margin-right: 28px;
    background-color: #eff6f1;
    min-height: 294px;
    min-width: 381px;
    max-height: 294px;
    max-width: 381px;
}

.text_up {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-transform: uppercase;
    font-family: OpenSans-Bold, sans-serif;
    color: #b59f5b;
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.text_up a {
    color: #b59f5b;
}

.text_up li {
    margin-right: 20px;
}

.text2_art a{
    text-transform: uppercase;
    font-family: OpenSans-Bold, sans-serif;
    max-width: 500px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 14px;
    color: #000000;
}

.text2_art a{
    cursor: pointer;
}

.text2_art a:hover {
    color: #b59f5b;
}

.text3 ul {
    font-family: OpenSans-Regular, sans-serif;
    display: flex;
    color: #888888;
    list-style-type: none;
    font-size: 12px;

}

.text3 li {
    text-decoration: none;
}

.text3 li:nth-child(n + 2) {
    font-family: OpenSans-Bold, sans-serif;
    color: #000000;
    margin-left: 15px;
}

.text4 p {
    font-family: OpenSans-Regular, sans-serif;
    font-size: 15px;
    color: #0f0d0e;
    padding-top: 30px;
    max-width: 367px;
}

.text4 p:nth-child(n + 2) {
    margin-top: -30px;
}

.news_post_h2 {
    font-family: OpenSans-Bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.hr-line {
    width: 66px;
    height: 3px;
    background: #e1d9bd;
    border: none;
}

.photo_right {
    width: 272px;
}

.photo_right_photo {
    min-height: 70px;
    min-width: 70px;
    max-height: 70px;
    max-width: 70px;
    background-color: #f4f7f6;
}

.photo_right_news {
    display: flex;
    margin-top: 29px;
}

.span_text {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    font-family: OpenSans-Regular, sans-serif;
    color: #888888;
    list-style-type: none;
    font-size: 12px;
    line-height: 18px;
}

.span_text:nth-child(n + 2):hover {
    color: #b59f5b;
}

.span_text:nth-child(n + 2) {
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    color: #000000;
}

.search {
    margin-top: 60px;
}

.searcher {
    display: flex;
    align-items: center;
}

.searcher input{
    height: 48px;
    width: 270px;
    background-color: #f4f7f6;
    border: none;
    padding-left: 18px;
}

.search_email input{
    height: 48px;
    width: 270px;
    background-color: #f4f7f6;
    border: none;
    padding-left: 18px;
}

.searcher input:focus {
    background-color: #f4f7f6;
    outline: 1px solid;
    outline-color: #b59f5b;
}

.search_email input:focus {
    background-color: #f4f7f6;
    outline: 1px solid;
    outline-color: #b59f5b;
}

.button {
    background-color: #b59f5b;
    border: none;
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: center center;
    width: 52px;
    height: 48px;
    padding-left: 15px;
    position: absolute;
    margin-left: 218px;
    cursor: pointer;
    transition: background-color .2s ease;
}

.button:hover {
    background-color: #323232;
}

.posts {
    margin-top: 62px;
}

.button_sub {
    background-color: #b59f5b;
    border: none;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: center center;
    width: 270px;
    height: 48px;
    margin-top: 18px;
    font-size: 14px;
    font-family: OpenSans-Bold, sans-serif;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: background-color .2s ease;
}

.button_sub:hover {
    background-color: #323232;
}

.tags {
    margin-top: 62px;
}

.tags_ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-family: OpenSans-Bold, sans-serif;
}

.list1 {
    margin-right: 5px;
    margin-bottom: 5px;
}

.list1 a {
    display: inline-block;
    text-transform: uppercase;
    border: 3px solid #eeeeee;
    padding: 7px 12px;
    color: #000000;
    font-size: 13px;
}

.list1 a:hover {
    background-color: rgba(244,243,241,0);
    border: 3px solid #b59f5b;
}

.tags_many {
    margin-bottom: 60px;
}

.words_li_table a{
    color: #000000;
    font-family: OpenSans-Bold, sans-serif;
}

.words_li_table {
    text-decoration: none !important;
    list-style-type: none;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 12px;
    text-decoration: none;
    line-height: 36px;
    font-family: OpenSans-Bold, sans-serif;
    position: relative;
}

.words_li_table a:hover {
    color: #b59f5b;
    font-weight: 700;
}

.number_tems {
    position: absolute;
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    font-family: OpenSans-Bold, sans-serif;
    text-decoration: none;
    margin-left: 4px;
    bottom: 16px;
}

.footer_container {
    height: 83px;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.icons img {
    width: 20px;
    height: 20px;
}

.icon:hover {
    opacity: 0.6;
    transition: .2s ease;
}

.footer_container li:nth-child(n + 2) {
    margin-left: 28px;
}

.footer_container ul {
    display: flex;
    list-style-type: none;
}

.container_last {
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 74px;
    margin-bottom: 40px;
}

.container_last a {
    font-family: OpenSans-Bold, sans-serif;
    color: #999999;
    font-size: 12px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
