@media (min-width: 1200px) {
    .header .mobile {
        display: none;
    }

    .logoMobile {
        display: none;
    }

    .nav-button {
        display: none;
    }

    .container {
        width: 1200px;
    }

    .text-line {
        display: none;
    }

    .footer_container {
        width: 1170px;
    }

    .container_last {
        width: 1170px;
    }
}

@media (max-width: 1199px) {
    .header {
        max-width: 100%;
    }

    .header::after {
        background-image: url(../images/banner-bg-tablet.jpg);
        background-position: center center;
    }

    .container {
        margin-right: 35px;
        margin-left: 35px;
        padding: 0;
    }

    .logoMobile {
        display: none;
    }

    .pop_up_button {
        right: 0;
        top: 60px;
    }

    .checkbox-text::before {
        width: 26px;
        height: 26px;
    }

    .email_spam_radio {
        column-gap: 33px;
    }

    .email_spam_radio input{
        position: absolute;
    }

    .nav .pop_up_button {
        display: none;
    }

    .header_text {
        margin-left: 1px;
        margin-right: 1px;
    }

    .header ul {
        margin: 0;
    }

    .header li:nth-of-type(1) {
        margin-left: 20px;
    }

    .logo {
        width: 160px;
    }

    .nav-button {
        background-color: transparent;
        border: none;
        outline: none;
    }

    .nav {
        display: none;
    }

    .close {
        display: block;
    }

    .card {
        width: calc(50% - 2px);
    }

    .step {
        display: block;
        border-bottom: 3px solid #eeeeee;
        margin-bottom: 42px;
    }

    .step:nth-last-child(-n+1) {
        border-bottom: none;
    }

    .step img {
        margin-bottom: 0;
        width: 100%;
    }

    .text4 p {
        padding: 0;
    }

    .text4 p:nth-child(2n) {
        max-width: none;
        padding-top: 25px;
    }

    .text_up {
        margin-top: 16px;
    }

    .backphoto {
        width: 100%;
    }

    .details {
        flex-wrap: wrap;
    }

    .shop__item {
        width: calc(50% - 18px);
    }

    .shop__item:nth-child(4n+1),
    .shop__item:nth-child(4n+2) {
        margin-bottom: 28px;
    }
}

@media (max-width: 1199px) and (orientation: portrait){
    .card:nth-child(4n+1),
    .card:nth-child(4n+2) {
        margin-bottom: 4px;
    }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
    .card {
        width: calc(25% - 3px);
    }
}